<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WheelCompose"
        tools:targetApi="31">
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.WheelCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.wheel.WheelActivity"
            android:exported="false"
            android:theme="@style/Theme.WheelCompose">
        </activity>

        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false"
            android:theme="@style/Theme.WheelCompose">
        </activity>

        <activity
            android:name=".ui.rock_paper_scissors.RPSActivity"
            android:exported="false"
            android:theme="@style/Theme.WheelCompose">
        </activity>

        <activity
            android:name=".ui.sound_setting.SoundSettingActivity"
            android:exported="false"
            android:theme="@style/Theme.WheelCompose">
        </activity>

        <activity
            android:name=".ui.about.AboutAppActivity"
            android:exported="false"
            android:theme="@style/Theme.WheelCompose">
        </activity>

        <activity
            android:name=".ui.privacy.PrivacyActivity"
            android:exported="false"
            android:theme="@style/Theme.WheelCompose">
        </activity>

    </application>

</manifest>